.key-bindings-panel .key-binding-header {
  padding: var(--half-gutter-size);
  height: var(--cell-size);
}

.key-bindings-panel .key-binding-header + .key-bindings-setting-list {
  margin-top: var(--gutter-size);
}

.key-bindings-panel .key-binding-setting {
  display: flex;
  justify-content: space-evenly;
  padding-left: var(--half-gutter-size);
} 

.key-bindings-panel .key-shape {
  width: var(--cell-size);
  height: var(--half-cell-size);
  border: 1px solid var(--color-5);
  box-shadow: 1px 1px 3px 1px var(--color-1);
  border-radius: 3px 3px 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.key-bindings-panel .key-binding-setting .key-shape + p {
  margin-left: var(--half-gutter-size);
} 

.key-bindings-panel .key-binding-setting + .key-binding-setting {
  margin-top: var(--gutter-size);
} 