.App{
  background-color: lightsalmon;
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(11, 108px);
  grid-template-rows: repeat(8, 108px);
  grid-template-areas: 
    "mt mt mt mt mt mt mt mt mt mt mt"
    "lp lp lp st st st st st st st st"
    "lp lp lp cv cv cv cv cv cv si si"
    "lp lp lp cv cv cv cv cv cv si si" 
    "lp lp lp cv cv cv cv cv cv si si" 
    "lp lp lp cv cv cv cv cv cv kb kb" 
    "cp cp cp cv cv cv cv cv cv kb kb" 
    "cp cp cp cv cv cv cv cv cv kb kb" 
}

.App .main-toolbar {
  background-color: grey;
  grid-area: mt;
}

.App .main-canvas {
  background-color: lightsteelblue;
  grid-area: cv;
}

.App .sub-toolbar {
  background-color: pink;
  grid-area: st;
}

.App .layers-panel {
  background-color: white;
  grid-area: lp;
  overflow: hidden;
}

.App .compositions-panel {
  background-color: orangered;
  grid-area: cp;
}

.App .source-info-panel {
  background-color: lightblue;
  grid-area: si;
}

.App .key-bindings-panel {
  background-color: lightgreen;
  grid-area: kb;
}