.layer-item {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.layer-item .layer-description {
  text-decoration: none;
  font-weight: 400;
}

.layer-item.layer-selected .layer-description {
  background-color: yellow;
  cursor: default;
}

.layer-item.layer-selected .layer-description:hover {
  text-decoration: none;
  font-weight: 400;
}

.layer-item .layer-description:hover {
  text-decoration: underline;
  font-weight: 700;
}

.layer-item .delete-layer--btn {
  background-color: lightcoral;
}

.layer-item .move-layer-up-btn {
  background-color: lightpink;
}

.layer-item .move-layer-down-btn {
  background-color: lightblue;
}

