.layer-item {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px;
  border: 2px solid var(--color-1);
}

.layer-item + .layer-item {
  margin-top: 12px;
}

.layer-item .layer-description {
  text-decoration: none;
  font-weight: 400;
}

.layer-item.layer-selected {
  background-color: var(--color-4);
}

.layer-item.layer-selected .layer-description {
  cursor: default;
}

.layer-item.layer-selected .layer-description:hover {
  text-decoration: none;
  font-weight: 400;
}

.layer-item .layer-description:hover {
  text-decoration: underline;
  font-weight: 700;
}

.layer-item .delete-layer-btn {
  background-color: var(--color-2);
}

.layer-item .move-layer-up-btn {
  background-color: var(--color-2);
}

.layer-item .move-layer-down-btn {
  background-color: var(--color-2);
}

